
.container {
    width:900px; 
    height: 150px;
  }
  
  header {
    width:900px; 
    float:left; 
    background: pink; 
    height: 50px;
  }
  
  .logo {
    float: left;
    padding: 15px
  }
  
  .menu {
    float: right;
    padding: 15px
  }
  
  .first-box {
    width:300px; 
    float:left; 
    height: 150px;
    margin: 50px
  }
  
  .first-box p {
    color: #ffffff;
    padding-left: 80px;
    padding-top: 50px;
  }
  
  .second-box {
    width:300px; 
    height: 150px; 
    float:right;
    margin: 50px
  }
  
  .second-box p {
    color: #ffffff;
    padding-left: 110px;
    padding-top: 50px;
  }
  
  footer {
    width:900px; 
    float:left; 
    background: black; 
    height: 50px;
    color: #ffffff;
  }
  
  @import url('https://fonts.googleapis.com/css');
  *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins',sans-serif;

    }
    html,body{
        display: grid;
        height: 100%;
        
    }
    .container{
        height: 350px;
        width: 430px;
    }
    .container .wrapper{
        position: relative;
        height: 300px;
        width: 100%;
        border-radius: 10px;
        border: 2px dashed #c2cdda;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .wrapper .active{
        border: none;
    }
    .wrapper .image{
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .wrapper .image img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .wrapper .icon{
        font-size: 100px;
        color: #9658fe;
    }
    .wrapper .text{
        font-size: 20px;
        font-weight: 500;
        color: #585878;
    }
    .wrapper #cancel-btn{
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 20px;
        cursor:pointer;
        color: #9658fe;
        display: none;
    }
    .wrapper .active:hover #cancel-btn{
        display: block;
    }
    .wrapper #cancel-btn:hover{
        color: #e74c3c;
    }
    .wrapper .file-name{
        position: absolute;
        bottom: 0px;
        width: 100%;
        color: #fff;
        padding: 8px 0;
        font-size: 18px;
        background: linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%);
    }
    .container #custom-btn{
        margin-top: 30px;
        width: 100%;
        height: 50px;
        display: block;
        border: none;
        border-radius: 25px;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
        outline: none;
        background: linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%);
    }
    .row{
        display: flex;
    }  
    .column{
        flex: 50%;
    }
    .jk
    {
        margin-top: 100px;
        margin-left: 350px;
    }